<td-layout-card-over cardWidth="80">
  <div class="ca-layout-card-content md-padding">
    <mat-nav-list>
      <ca-contact-list-item *ngFor="let contact of contacts"
                            [contact]="contact"
                            (select)="editContact(contact)"
                            (remove)="deleteContact(contact)"
                            (showOnMap)="navigateToMap(contact)"
                            (call)="makePhoneCall(contact)">
      </ca-contact-list-item>
    </mat-nav-list>
    <div *ngIf="!contacts.length" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="ca-no-contacts-icon">contacts</mat-icon>
      <div class="ca-no-contacts-text">No Contacts</div>
    </div>
  </div>
</td-layout-card-over>
<button mat-fab (click)="addContact()" color="accent" class="ca-floating-action-button">
  <mat-icon>add</mat-icon>
</button>
