<div (mouseenter)="onFocus()" (mouseleave)="onBlur()">
  <mat-list-item>
    <mat-icon matListAvatar class="ca-contact-list-item-avatar">face</mat-icon>
    <h3 matLine> {{contact.firstName}} {{contact.lastName}}</h3>
    <p matLine> {{contact | contactAddress}}</p>
    <div *ngIf="menuIsVisible">
      <button mat-icon-button [matMenuTriggerFor]="menu" (onMenuClose)="toggleMenuButtonVisibility(false)">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>call</mat-icon>
          <span>Soitto</span>
        </button>
        <button mat-menu-item>
          <mat-icon>place</mat-icon>
          <span>Kartta</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="remove.emit(contact)">
          <mat-icon>delete</mat-icon>
          <span>Poista</span>
        </button>
      </mat-menu>
    </div>
  </mat-list-item>
</div>
