<td-layout-card-over cardWidth="80">
  <div class="mat-padding">
    <div>
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="contact.firstName"
               type="text"
               required
               placeholder="First name">
      </mat-input-container>
    </div>
    <div>
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="contact.lastName"
               type="text"
               required
               placeholder="Last name">
      </mat-input-container>
    </div>
    <div>
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="contact.streetAddress"
               type="text"
               required
               placeholder="Street address">
      </mat-input-container>
    </div>
    <div>
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="contact.city"
               type="text"
               required
               placeholder="City">
      </mat-input-container>
    </div>
  </div>
</td-layout-card-over>
