.ca-sidenav {
  width: 236px;
}

.ca-sidenav-avatar {
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.ca-sidenav-user-area {
  background: #f5f5f5;
}

.ca-app-container {
  height: 100%;
  overflow: auto;
}

.ca-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

