<mat-sidenav-container class="ca-sidenav-container">

  <mat-sidenav #sidenav align="start" class="ca-sidenav mat-elevation-z5"
               [mode]="isSmallScreen ? 'over' : 'side'"
               [opened]="!isSmallScreen">
    <div fxLayout="column" class="">
      <div fxLayout="column" fxLayoutAlign="center start" class="ca-padding ca-sidenav-user-area">
        <div>
          <mat-icon class="ca-sidenav-avatar" color="primary">account_circle</mat-icon>
        </div>
        <div>
          Sami Anttonen
        </div>
        <div class="mat-subheading-1 ca-no-margin">
          santtone
        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxFlex fxLayout="row">
        <mat-nav-list fxFlexFill>
          <a mat-list-item (click)="navigateToContacts()">
            <mat-icon>contacts</mat-icon>
            Contacts
          </a>
          <a mat-list-item (click)="click">
            <mat-icon>settings</mat-icon>
            Settings
          </a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <ca-toolbar (toggleSidenav)="toggleSidenav()"></ca-toolbar>
    <div class="ca-app-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
