.ca-contact-details-avatar{
  font-size: 120px;
  color: #757575;
}

.ca-contact-details-icon{
  color: #737373;
  font-size: 26px;
}

.ca-contact-details-toolbar{
  background: #CFD8DC;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.ca-contact-details-avatar-container{
  background: #CFD8DC;
  padding-bottom: 20px;
}

.ca-contact-details-map-container{
  text-align: -webkit-center;
}

.ca-contact-details-map{
  min-height: 300px;
  height: 300px;
  width: 100%;
  max-width: 500px;
}
