@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('../src/assets/material-icons.woff2')
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-size: 24px;
}

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
}

.ca-fab-action-button {
  position: fixed !important;
  bottom: 30px;
  right: 30px;
}

.ca-padding {
  padding: 16px;
}

.ca-no-margin{
  margin: 0;
}

/*
Overriding Angular Material styles
*/
.mat-drawer-content {
  overflow: hidden !important;
}
